<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Erro</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body class="center-page">

    <div class="error-container">

        <div class="error-glow"></div>

        <div class="error-card">

            <div class="error-icon">
                ⚠️
            </div>

            <div class="error-title">
                {{ titulo }}
            </div>

            <div class="error-description">
                {{ mensagem }}
            </div>

            <a href="/">

                <button class="btn btn-dark error-button">
                    VOLTAR AO PORTAL
                </button>

            </a>

        </div>

    </div>

</body>

</html>